.MenuButton {
    margin-left: 0;
    margin-right: 25px;
  }
  .LanguageSwitcherLink{
    direction: ltr !important;
  }
  .LanguageSwitcherLink.arabic{
    font-family: 'Barlow' !important;
    font-weight: 500;
    font-style: normal;
  }