.MenuButton {
    margin-left: 0;
    margin-right: 25px;
  }
  .LanguageSwitcherLink{
    direction: ltr !important;
  }
  .LanguageSwitcherLink.arabic{
    font-family: 'Barlow' !important;
    font-weight: 500;
    font-style: normal;
  }
  .LanguageSwitcherLink{
    width: 107px;
    padding: 3px 10px;
  }
  .LanguageSwitcherLink span {
    margin-right: 0;
    top: -1px;
    margin-left: 8px;
    font-size: 15px;
  }
  .LanguageSwitcher svg {
    width: 25px;
    height: 25px;
  }


  body{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
        text-align: right;
  }
  [dir="rtl"] .slick-prev {
    right: auto !important;
  }
  .LinkTp2::before{
    content: none !important;
  }
  .LinkTp2::after {
    content: "";
    background-image: url(../images/call1.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 0px;
    margin-right: 15px;
    position: relative;
    top: 2px;
  }
  .LinkTp1::after {
    margin-left: 0;
    transform: rotate(180deg);
    margin-right:15px ;
  }  
  .Txt5::after {
    left: auto;
    right: 0;
  }
  .ServiceBlocks .col-md-3 {
    padding: 10px 0px;
    border-left: 1px solid #9D9D9D;
    border-right: 0px solid #e4e4e4;
  }
  .ServiceBlocks .col-md-3:nth-child(4n) {
    border-left: 0px solid #9D9D9D;
    border-right: 0px solid #e4e4e4;
  }
  .LinkTp3::after {
    margin-left: 0px;
    transform: rotate(180deg);
    margin-right: 15px;
  }
  .AccordionQuestion {
    padding: 15px 25px 15px 40px;
  }
  .AccordionQuestion::after {
    right: auto;
    left: 22px;
  }
  .OtherAccordionItemQuestion{
    padding-right: 0px;
    padding-left: 25px;
  }
  .OtherAccordionItemQuestion::after {
    right: auto;
    left: 5px;
  }
  .ContactInfoBox::after {
    right: auto;
    left: 0;
  }
  .col-md-6.text-right{
    text-align: left !important;
  }
  .Form1 button {
    right: auto;
    left: 0;
  }
  .FtrLinkP::after {
    margin-left: 0;
    transform: rotate(180deg);
    margin-right: 15px;
  }
  .NumbersINMoving .col-md-3 {
    border-right: 0px solid #737373;
    border-left: 1px solid #737373;
  }
  .InServiceBox1Hd {
    padding-left: 0px;
    padding-right: 90px;
  }
  .InServiceBox1Hd::after {
    left: auto;
    right: 0;
  }
  .ServiceAccordionItemQuestion {
    padding-right: 0;
    padding-left: 35px;
  }
  .ServiceAccordionItemQuestion::after {
    right: auto;
    left: 5px;
    transform: rotate(180deg);
  }
  .srvBoxT1::after {
    left: auto;
    right: 0;
  }
  .AccordItemT1 {
    padding-right: 0;
    padding-left: 35px;
  }
  .AccordItemT1::after {    
    right: auto;
    left: 0;
  }
  .OffSeT1::after{
    left: auto;
    right: 0;
  }
  .ContactBoxT1 {
    text-align: right;
  }
  .ContactBox {
    text-align: right;
  }
  .AnswerBoxHd::after {
    transform: rotate(180deg);
  }
  .Form1 input{
    padding: 6px 10px;
  }
  @media only screen and (max-width: 1000px) {

    .LanguageSwitcherLink {
        width: auto;
        padding: 0px 10px;
      }
      .ServiceBlocks .col-md-3 {
        border-left: 0px solid #9D9D9D;
        border-right: 0px solid #e4e4e4;
      }
      .NumbersINMoving .col-md-3 {
        border-right: 0px solid #737373;
        border-left: 0px solid #737373;
      }
      .InServiceBox1Hd {
        padding-left: 50px;
      }
  }