.MenuButton {
    margin-left: 0;
    margin-right: 25px;
  }
  .LanguageSwitcherLink{
    direction: ltr !important;
  }
  .LanguageSwitcherLink.arabic{
    font-family: 'Barlow' !important;
    font-weight: 500;
    font-style: normal;
  }
  .LanguageSwitcherLink{
    width: 107px;
    padding: 3px 10px;
  }
  .LanguageSwitcherLink span {
    margin-right: 0;
    top: -1px;
    margin-left: 8px;
    font-size: 15px;
  }
  .LanguageSwitcher svg {
    width: 25px;
    height: 25px;
  }


  body{
    /* font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0; */
        text-align: right;
  }
  [dir="rtl"] .slick-prev {
    right: auto !important;
  }
  .LinkTp2::after::before{
    content: none !important;
  }
  .LinkTp2::after {
    content: "";
    background-image: url(../images/call1.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 0px;
    margin-right: 15px;
    position: relative;
    top: 2px;
  }
  .LinkTp1::after {
    margin-left: 0;
    transform: rotate(180deg);
    margin-right:15px ;
  }  