.MenuButton {
    margin-left: 0;
    margin-right: 25px;
  }
  .LanguageSwitcherLink{
    direction: ltr !important;
  }
  .LanguageSwitcherLink.arabic{
    font-family: 'Barlow' !important;
    font-weight: 500;
    font-style: normal;
  }
  .LanguageSwitcherLink{
    width: 107px;
    padding: 3px 10px;
  }
  .LanguageSwitcherLink span {
    margin-right: 0;
    top: -1px;
    margin-left: 8px;
    font-size: 15px;
  }
  .LanguageSwitcher svg {
    width: 25px;
    height: 25px;
  }