.container{
  max-width: 1400px;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
a{
  text-decoration: none !important;
  transition: 0.4s;
}
img {
  max-width: 100%;
}
.HeaderBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.HeaderBoxLeft {
  flex: 0 0 150px;
  max-width: 150px;
}
.HeaderBoxMiddle {
  flex: 0 0 auto;
  max-width: auto;
}
.HeaderBoxRight {
  flex: 0 0 140px;
  max-width: 140px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.HeaderNavItems {
  display: flex;
  position: relative;
}
.NavBar1 {
  list-style: none;
  display: flex;
}
.NavBar1 li {
  position: relative;
}
.HeadrNavItem {
  font-size: 18px;
  margin: 0 18px;
  color: #fff !important;
  position: relative;
}

.HeadrNavItem.active::after, .HeadrNavItem:hover::after {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  transition: 0.5s;
  border-radius: 5px;
}
.MenuIcon {
  background-image: url(../images/menu.png);
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.MenuButton {
  margin-left: 25px;
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
  border-radius: 50%;
  border: 2px solid #fff;
}
.HeroBannner{
  min-height: 50vh;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
}
header {
  position: fixed;
  width: 100%;
  background: transparent;
}
.screenHeight{
  height: 100vh;
}