@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni 72 Oldstyle';
    src: url('BodoniSvtyTwoOSITCTT-Book.woff2') format('woff2'),
        url('BodoniSvtyTwoOSITCTT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-book {
    font-family: 'Bodoni 72 Oldstyle';
    font-weight: normal;
    font-style: normal;
}

.font-medium {
    font-family: 'Barlow';
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none !important;
    transition: 0.4s;
}

body {
    font-family: 'Barlow';
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 1.3;
    user-select: none;
    overflow-x: hidden;
    color: #002341;
}

a:hover {
    transition: 0.5s;
}

.container {
    max-width: 1350px;
}

.HeaderBox {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.HeaderBoxLeft {
    flex: 0 0 150px;
    max-width: 150px;
}

.HeaderBoxMiddle {
    flex: 0 0 auto;
    max-width: auto;
}

.HeaderBoxRight {
    flex: 0 0 150px;
    max-width: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

img {
    max-width: 100%;
}

.HeaderNavItems {
    display: flex;
    position: relative;
}

.HeadrNavItem {
    font-size: 18px;
    margin: 0 18px;
    color: #002341;
    position: relative;
}

.HeadrNavItem.active::after,
.HeadrNavItem:hover::after {
    content: "";
    background-color: #E2AD6B;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    transition: 0.5s;
    border-radius: 5px;
}

.LanguageSwitcher svg {
    width: 28px;
    height: 26px;
}

.arabic {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.LanguageSwitcherLink {
    display: flex;
    align-items: center;
    color: #002341;
    border: 1px solid #002341;
    padding: 5px 10px;
    width: 100px;
    border-radius: 25px;
    direction: rtl;

}

.LanguageSwitcherLink span {
    margin-right: 8px;
    position: relative;
  top: -2px;
}

.LanguageSwitcherLink:hover {
    background-color: #E2AD6B;
    border: 1px solid #E2AD6B;
}

.mainbannerImg {
    width: 100%;
}

.StickHeader header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
}

.HeroNavFlexBox {
    display: flex;
    align-items: center;
    color: #fff;
}

.HeroNavContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.HeroNavContent>.container,
.HeroNavFlexBox {
    height: 100%;
}

.Txt1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.Txt2 {
    font-size: 55px;
}

.Txt3 {
    font-size: 28px;

}

.HeroContactForm {
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    text-align: center;
}

.LinkTp1 {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 160px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 25px;
    text-align: center;
}

.LinkTp1:after {
    content: "";
    background-image: url(../images/arrow1.png);
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 2px;
}

.hover1:hover {
    background-color: #E2AD6B !important;
    color: #fff !important;
}

.LinkTp2 {
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    color: #E2AD6B;
    width: 160px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    position: relative;

}

.LinkTp2:before {
    content: "";
    background-image: url(../images/call1.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.hover2:hover {
    background-color: #002341 !important;
    color: #E2AD6B;
}

.LinkTp3 {
    padding: 10px 15px;
    background: #E2AD6B;
    color: #072341;
    width: 160px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
    position: relative;

}

.LinkTp3:after {
    content: "";
    background-image: url(../images/arrow2.png);
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 2px;
}

.hover3:hover {
    background-color: #fff !important;
}

.HeroContactForm:hover {
    background-color: #E2AD6B;
}

.HeroContactForm:hover .Txt3 {
    color: #002341;
}

.pd-common {
    padding: 60px 0px;
}

.Txt5 {
    font-size: 45px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    line-height: 1.1;
}

.Txt5::after {
    content: "";
    background-color: #E2AD6B;
    width: 70%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.mb-15 {
    margin-bottom: 20px;
}

.row.mb-15 {
    margin-bottom: 25px !important;
}

.OurServicesBlock {
    background-color: #002341;
}

.T1 {
    color: #E2AD6B;
    text-align: center;
    font-size: 30px;
}

.T2 {
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.ServiceBlocks {
    margin-top: 30px;
}

.ServiceBlocks .col-md-3 {
    padding: 10px 0px;
    border-right: 1px solid #9D9D9D;

}

.ServiceBlocks .col-md-3:nth-child(4n) {
    border-right: 0px solid #9D9D9D;
}

.ServiceBlock {
    padding: 25px;
}

.brb {
    border-bottom: 1px solid #9D9D9D;
}

.ServiceBlockImage {
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    margin-bottom: 15px;
}

.ServiceBlockTitle {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.ServiceBlockDesc {
    color: #9D9D9D;
    font-size: 15px;
}

.ServiceBlockImage.image1 {
    background-image: url(../images/ic1.png);
    width: 80px;
}

.ServiceBlockImage.image2 {
    background-image: url(../images/ic2.png);
    width: 80px;
}

.ServiceBlockImage.image3 {
    background-image: url(../images/ic3.png);
    width: 80px;
}

.ServiceBlockImage.image4 {
    background-image: url(../images/ic4.png);
    width: 80px;
}

.ServiceBlockImage.image5 {
    background-image: url(../images/ic5.png);
    width: 80px;
}

.ServiceBlockImage.image6 {
    background-image: url(../images/ic6.png);
    width: 80px;
}

.ServiceBlockImage.image7 {
    background-image: url(../images/ic7.png);
    width: 80px;
}

.ServiceBlockImage.image8 {
    background-image: url(../images/ic8.png);
    width: 80px;
}

.T5 {
    color: #E2AD6B;
    font-size: 30px;
}

.AccordionQuestion {
    background-color: #002341;
    color: #fff;
    font-size: 18px;
    padding: 15px 40px 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.AccordionQuestion:after {
    content: "";
    transition: 0.4s;
    background-image: url(../images/acc.png);
    width: 12px;
    height: 20px;
    position: absolute;
    right: 22px;
    top: 18px;
    background-size: 100% 100%;
}

.AccordionItem {
    margin-bottom: 15px;
}

.AccordionAnswer {
    padding: 15px;
    display: none;
}

.AccordionQuestion.ActivatedAccordion:after {
    transform: rotate(90deg);
}

.bg1 {
    background-color: #F4F4F4;
}

.AtT1 {
    color: #002341;
    font-size: 30px;
}

.AtT2 {
    color: #E2AD6B;
    font-size: 35px;
}

.AtT3 {
    color: #707070;
}

.HeaderBxTp1 {
    margin-bottom: 40px;
}

.TeamCard {
    padding: 0px 10px;
}

.MemberName {
    font-size: 20px;
    font-family: 'Bodoni 72 Oldstyle';
    font-weight: normal;
    font-style: normal;
    color: #002341;
    margin-top: 10px;
}

.MemeberDesignation {
    color: #E2AD6B;
}

.SlickWrap1 .slick-dots {
    margin-top: 25px;
    position: relative;
    bottom: auto;
}

.SlickWrap1 .slick-dots li {
    background-color: #737373;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.SlickWrap1 .slick-dots li button {
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
}

.SlickWrap1 .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    background-color: #E2AD6B;
}

.SlickWrap1 .slick-dots li.slick-active {
    width: 20px;
    height: 20px;
    background-color: #E2AD6B;
    border-radius: 50%;
}

.SlickWrap1 .slick-next {
    background-image: url(../images/next.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 50%;
}

.SlickWrap1 .slick-next::before {
    content: none;

}

.SlickWrap1 .slick-next {
    right: 0;
}

.SlickWrap1 .slick-prev {
    background-image: url(../images/prev.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 50%;
    z-index: 9;
    left: 0;
}

.SlickWrap1 .slick-prev::before {
    content: none;
}

.SlickWrap1 .slick-next:hover,
.SlickWrap1 .slick-prev:hover {
    background-color: #E2AD6B;
}

.OpT1 {
    color: #E2AD6B;
    font-size: 30px;
}

.OpT2 {
    font-size: 40px;
  position: relative;
  line-height: 1;
}

.PartnerItem {
    background-color: #F4F4F4;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 15px;
}

.PartnerItem img {
    max-height: 80px;
    width: auto;
    max-width: 100%;
}

.PartnerColumnInner .PartnerItem:last-child {
    margin-top: 10px;
}
.partnerBlock {
    margin-top: 40px;
}
.bg2{
    background-color: #002341;
}
.OtherAccordionItem{
    border-bottom: 1px solid #707070;
    padding: 15px 0px;
}
.OtherAccordionItemQuestion{
    font-size: 20px;
    position: relative;
    padding-right: 25px;
    cursor: pointer;
    position: relative;
}
.OtherAccordionItemQuestion::after{
    content: "";
    background-image: url(../images/plus.png);
    width: 15px;
    height: 30px;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 5px;
}
.ActivatedAccordion.OtherAccordionItemQuestion::after{
background-image: url(../images/minus.png);
}
.OtherAccordionItemAnswer{
    display: none;
}
.OtherAccordionItemAnswer.active{
    display: block;
}
.OtherAccordionItemAnswer{
    padding-top: 15px;
}

.AnswerBoxHd{
    font-size: 25px;
    color: #E2AD6B;
    position: relative;
    margin-bottom: 5px;
}
.AnswerBoxHd::after{
    content: "";
    background-image: url(../images/arrow.png);
    width: 25px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    background-size: 100% 100%;
}
.OtherServiceAccordion{
    margin-top: 25px;
}
.testimonialsCardQuote{
    padding: 15px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: -25px;
    padding-top: 25px;
}
.QuoteRound{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #E2AD6B;
    margin: 0 auto;
}
.QuoteRound:after{
    content: "''";
    font-size: 74px;
    display: inline-block;
    text-align: center;
    color: #072341;
    position: absolute;
    left: 17px;
    top: 6px;
    line-height: 1;
}
.TestHead{
    font-size: 23px;
    margin: 15px 0px;
    line-height: 1.1;
}
.TestimonialBlk{
    margin-top: 45px;
}
.TestDesc{
    margin-bottom: 15px;
}
.TestOwner{
    color: #E2AD6B;
    font-size: 20px;
}
.TestimonialCard{
    margin: 0 10px;
}
.BrdBlk{
    text-align: center;
}
.BrdBlk span{
    width: 25%;
    background-color: #E2AD6B;
    height: 2px;
    display: inline-block;
    margin: 20px 0px;
    border-radius: 5px;
}

.BlogItemLink{
    display: block;
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
    margin: 0 5px;
}
.Blogdate{
    color: #E2AD6B;
    font-size: 15px;
    margin: 15px 0px 5px 0px;
}
.BlogTitle{
    font-size: 20px;
    color: #002341;
    margin-bottom: 10px;
}
.Arrow{
    display: inline-block;
    background-color: #737373;
    padding: 5px 15px;
    border-radius: 25px;
}
.ArrowImage{
    display: inline-block;
    background-image: url(../images/arrowwhite.png);
  width: 25px;
  height: 15px;
  display: inline-block;
  background-size: 100% 100%;
  position: relative;
  top: 3px;
}
.BlogItemLink:hover{
    background-color: #072341;
}
.BlogItemLink:hover .Blogdate{
    color: #E2AD6B;
}
.BlogItemLink:hover .BlogTitle{
    color: #fff;
}
.BlogItemLink:hover .Arrow{
    background-color: #E2AD6B;
}
.BlogImage{
    border-radius: 25px;
}
.FooterLogo{
    max-width: 150px;
}
.FooterDesc{
    color: #9D9D9D;
    margin-top: 15px;
    margin-bottom: 30px;
}
.footerbottom{
    background-color: #E2AD6B;
    padding: 10px 0px;
    color: #fff;
}
.footerbottom a{
    color: #fff !important;
}
.SocialMediaIcon{
    display: inline-block;
    width: 20px;
    height: 25px;
    background-size: 100% 100%;
}
.SocialMediaIcon.tiktok{
    background-image: url(../images/tiktok.png);
}
.SocialMediaIcon.instagram{
    background-image: url(../images/instagram.png);
    width: 25px;
}
.SocialMediaIcon.facebook{
    background-image: url(../images/facebook.png);
    width: 15px;
}
.SocialMediaIcon.linkedin{
    background-image: url(../images/linkedin.png);
    width: 25px;
}
.SocialMediaIcon.twitter{
    background-image: url(../images/twitter.png);
    width: 25px;
}
.SocialMediaLinks a{
    display: inline-block;
    margin: 0 7px;
}
.SocialMediaLinks a:first-child{
    margin-left: 0;
}
.NewT1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
.NewT2{
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
}
.Form1{
margin-bottom: 15px;
}
.Form1 input{
    width: 100%;
    padding: 10px;
    box-shadow: none !important;
    border: 1px solid #707070;
    border-radius: 20px;
    background-color: #002341;
    color: #fff;
}
.Form1 input:focus{
    outline: none;

}
.Form1 button{
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    min-width: 120px;
    background-color: #E2AD6B;
    border-color: #E2AD6B;
    transition: 0.4s;
}
.Form1 button:hover{
    background-color: #737373;
    color: #fff;
}
footer .container {
    max-width: 1200px;
}
.FtLink1{
    color: #fff;
    margin-bottom: 5px;
}
.FtLink2{
    color: #E2AD6B;
    display: block;
    margin-bottom: 5px;
}
.FtLink2:hover{
    color: #707070;
}
.ContactInfoBox{
    margin-top: 10px;
    position: relative;
}
.ContactInfoBox::after{
    content: "";
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-image: url(../images/ftr.png);
    position: absolute;
    top: 0;
    right: 0;
}
.MenuButton{
    margin-left: 25px;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s;
    border-radius: 50%;
    border: 2px solid #fff;
}
.MenuButton:hover{
    border: 2px solid #E2AD6B;
}
.MenuIcon{
    background-image: url(../images/menu.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}
.FullWidthHeight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.PopUpHeaderBox{
    display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
background-color: #fff;
}
.PopUpHeaderBoxLeft{
    flex: 0 0 150px;
  max-width: 150px;
}
.max-width-100{
    max-width: 100%;
}
.PopUpHeaderBoxMiddle{
    font-size: 28px;
}
.CloseButton{
    width: 25px;
    height: 25px;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.MenuPOpup{
    display: none;
}
.menuPopupActivated .MenuPOpup{
    display: block;
}
.FtrLinkP {
    padding: 10px 15px;
    background: #E2AD6B;
    color: #072341;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    position: relative;

}
.FtrLinkP:hover{
    opacity: 0.8;
}
.FtrLinkP:after {
    content: "";
    background-image: url(../images/arrow2.png);
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 2px;
}
.PopUpFooterBox{
    padding: 15px 0px;
  background-color: #fff;
}
.bgf{
    background-color: #fff;
}
.PopupContentBox{
    padding: 20px;
}
.PopupContentBox .row{
    align-items: center;
}
.PopUpFooterBox .row{
    align-items: center;
}
.PopUpFooterBox .col-md-10{
    font-size: 20px;
}
.PopupContentBoxT1{
    font-size: 30px;
    color: #072341;
    padding: 15px 0px;
    border-bottom: 1px solid #707070;
    display: inline-block;
}
.PopupContentBoxT1.active,
.PopupContentBoxT1:hover{
    color: #E2AD6B;
}
.ContactItemLink {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 300;
    font-size: 19px;
    color: #69709d !important;
    padding: 15px 10px;
    position: relative;
  }
  .ContactItemLink::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #888;
    opacity: .1;
  }
  .LLinkFle {
    display: flex;
    align-items: center;
  }
  .LLinkFle .LLinkFleL {
    flex: 0 0 55px;
  }
  .LLinkFle .LLinkFleR {
    flex: 1 1;
  }
  .LLinkFleR1 {
    font-weight: 400;
    margin-bottom: 6px;
    text-transform: capitalize;
    font-size: 17px;
    color: #002341;
  }
  .LLinkFleR2 {
    font-size: 15px;
    color: #E2AD6B;
  }
  .SocialIcn{
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
  }
 
  .widthfull{
    width: 100%;
  }
  .SocialIcn.whatsapp{
    background-image: url(../images/whatsapp.png);
  }
  .SocialIcn.email{
    background-image: url(../images/email.png);
  }
  .SocialIcn.call{
    background-image: url(../images/call.png);
  }
  .SocialIcn.instagram{
    background-image: url(../images/instagram1.png);
  }
  .SocialIcn.tiktok{
    background-image: url(../images/tiktok1.png);
  }
  .PopuImage{
    width: 100%;
    border-radius: 25px;
  }
  .heightfull{
    height: 100%;
  }