html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
body {
  position: relative;
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.container{
  max-width: 1300px;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.2;
}
a{
  text-decoration: none !important;
  transition: 0.4s;
}
img {
  max-width: 100%;
}
.HeaderBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.HeaderBoxLeft {
  flex: 0 0 140px;
  max-width: 140px;
  transition: 0.4s;
}
.HeaderBoxMiddle {
  flex: 0 0 auto;
  max-width: auto;
}
.HeaderBoxRight {
  flex: 0 0 140px;
  max-width: 140px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.HeaderNavItems {
  display: flex;
  position: relative;
}
.NavBar1 {
  list-style: none;
  display: flex;
}
.NavBar1 li {
  position: relative;
}
.HeadrNavItem {
  font-size: 16px;
  margin: 0 18px;
  color: #fff !important;
  position: relative;
  font-weight: 600;
  transition: 0.4s;
}

.HeadrNavItem.active::after, .HeadrNavItem:hover::after {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.5s;
  border-radius: 10px;
}
.MenuIcon {
  background-image: url(../images/menu.png);
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.MenuButton {
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
  border-radius: 50%;
  border: 2px solid transparent;
}
.MenuButton:hover{
  border: 2px solid #fff;
}
.HeroBannner{
  min-height: 50vh;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: fixed;
  width: 100%;
  background: transparent;
  left: 0;
  top: 0;
  z-index: 9;
}
.screenHeight{
  height: 100vh;
}
.HrBannerContent{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.screeWidth{
  width: 100%;
}
.HrBannerContent{
  text-align: center;
}
.T1{
  font-size: 40px;
}
.T1.bolder{
  margin-bottom: 10px;
  font-weight: 600;
}
.T2{
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.T3{
  background-color: #C10600;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 25px;
  transition: 0.4s;
}
.T3:hover{
  background-color: #0A2F8B;
}
.cursor-pointer{
  cursor: pointer;
}
.AboutContent{
  min-height: 50vh;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.AboutContent{
  color: #fff;
  text-align: center;
}
.pd-common{
  padding: 60px 0px;
}
.StickHeader header{
  background-color: #115F30;
  box-shadow: 0 5px 25px rgba(0,0,0,.17);
}
.StickHeader .HeaderBoxLeft {
  flex: 0 0 100px;
  max-width: 100px;
}
.WinBanner{
  max-width: 100%;
  border-radius: 35px;
  margin: 25px 0px;
}
.AboutContent .container{
  max-width: 1100px;
}
.AboutContent .T2{
max-width: 900px;
margin: 0 auto;
margin-bottom: 25px;

}
.Wincollections{
  background-color: #0A2F8B;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.FullWidthHeight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.PopUpHeaderBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.PopUpHeaderBoxLeft {
  flex: 0 0 100px;
  max-width: 100px;
}
.PopUpHeaderBoxMiddle {
  font-size: 22px;
}
.CloseButton {
  width: 25px;
  height: 25px;
  background-image: url(../images/close.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.PopupContentBox {
  padding: 20px;
}
.PopUpFooterBox {
  padding: 15px 0px;
}
.PopUpFooterBox .col-md-9 {
  font-size: 20px;
}
.FtrLinkP {
  background-color: #C10600;
  display: inline-block;
  padding: 10px 18px;
  border-radius: 25px;
  transition: 0.4s;
  color: #fff !important;
}
.FtrLinkP:hover{
  background-color: #072341;
}
.MenuPOpup1, .MenuPOpup2, .MenuPOpup3 {
  display: none;
  color: #fff;
}
.menuPopupActivated .MenuPOpup1 {
  display: block;
}
.contactPopupActivated .MenuPOpup2 {
  display: block;
}
.MenuPOpup{
  background-color: #115F30;
}
.PopupContentBox{
  background-color: #072341;
}

.ContactItemLink {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  color: #fff !important;
  padding: 15px 10px;
  position: relative;
}
.LLinkFleR1{
  margin-bottom: 5px;
}
.LLinkFleR2{
  color: #C10600;
}
.widthfull {
  width: 100%;
}
.LLinkFle .LLinkFleL {
  flex: 0 0 45px;
}
.LLinkFle .LLinkFleR {
  flex: 1 1;
  font-size: 15px;
}
.SocialIcn {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.LLinkFle {
  display: flex;
  align-items: center;
}
.heightfull {
  height: 100%;
}
.SocialIcn.whatsapp {
  background-image: url(../images/whatsapp.png);
}
.SocialIcn.email {
  background-image: url(../images/email.png);
}
.SocialIcn.call {
  background-image: url(../images/call.png);
}
.SocialIcn.instagram {
  background-image: url(../images/instagram1.png);
}
.SocialIcn.tiktok {
  background-image: url(../images/tiktok1.png);
}
.ContactItemLink::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #888;
  opacity: .1;
}
.PopupContentBoxT1 {
  font-size: 25px;
  color: #fff;
  padding: 10px 0px;
  border-bottom: 1px solid #707070;
  display: inline-block;
  transition: 0.4s;
}
.PopupContentBoxT1:hover{
  color: #C10600;
}

.Ct1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.Ct2 {
  font-size: 14px;
  margin-bottom: 25px;
}
.PopupContactBox input, .PopupContactBox select, .PopupContactBox textarea {
  padding: 7px 13px;
  display: block;
  margin-bottom: 8px;
  border: 1px solid #fff;
  outline: none !important;
  box-shadow: none !important;
  width: 100%;
  background-color: #072341;
  color: #fff;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
}
.PopupContactBox button {
  background-color: #C10600;
  display: inline-block;
  padding: 7px 13px;
  border-radius: 25px;
  transition: 0.4s;
  color: #fff !important;
  border: 0px solid #e4e4e4;
  min-width: 150px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}

.HdSt1{
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.HdSt1 span{
  font-weight: 600;
  
}
.collectionName{
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  font-size: 19px;
}
.ProductBlock{
  text-align: center;
  color: #fff;
  position: relative;
  padding: 15px;
cursor: pointer;
overflow: hidden;
}
.productBlocks{
  margin-top: 50px;
}
.DiscoverMoreBlock{
  position: absolute;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,.17);
  padding: 15px;
  bottom: -100%;
  left: 0;
  transition: 0.4s;
  height: 0;
  width: 0;
  opacity: 0;
}
.ContactBtn {
  background-color: #C10600;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 25px;
  transition: 0.4s;
}
.DiscoverMoreBlock .collectionName{
  margin-top: 0;
  margin-bottom: 15px;
}
.ProductBlock:hover > .collectionName{
  display: none;
}
.ProductBlock:hover .DiscoverMoreBlock{
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.AnimatedCountingBox{
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CountBox{
  color: #fff;
  text-align: center;
}
.CountNUmber{
  font-size: 70px;
  font-weight: 600;
}
.CountNUmberTxt{
  margin-top: 10px;
  line-height: 1.2;
}
.FtHdT1{
  font-size: 40px;
  margin-bottom: 5px;
}
.FtHdT1 span{
  font-weight: 600;
}
.FtHdT2{
  font-size: 32px;
  margin-bottom: 30px;
}
.ProductBlock1Name{
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.ProductBlock1{
  padding: 0px 15px;
}
.SlickWrap1 .slick-dots {
  margin-top: 25px;
  position: relative;
  bottom: auto;
}

.SlickWrap1 .slick-dots li {
  background-color: #efefef;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.SlickWrap1 .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
}

.SlickWrap1 .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  background-color: #0A2F8B;
}

.SlickWrap1 .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  background-color: #0A2F8B;
  border-radius: 50%;
}

.SlickWrap1 .slick-next {
  background-image: url(../images/next.png);
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  background-color: #efefef;
  border-radius: 50%;
}

.SlickWrap1 .slick-next::before {
  content: none;

}


.SlickWrap1 .slick-next {
  right: 0;
}

.SlickWrap1 .slick-prev {
  background-image: url(../images/prev.png);
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  background-color: #efefef;
  border-radius: 50%;
  z-index: 9;
  left: 0;
}

.SlickWrap1 .slick-prev::before {
  content: none;
}

.SlickWrap1 .slick-next:hover,
.SlickWrap1 .slick-prev:hover {
  background-color: #efefef;
}
.BannerImage{
  width: 100%;
  border-radius: 30px;
}
.BannerDesc{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.17);
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  align-items: end;
  font-size: 25px;
}
.BannerBox4{
  margin-top: 30px;
}
.BannerBox1 img{
  height: 527px;
  object-fit: cover;
}
.BannerWrap{
  margin-top: 40px;
}
.FullBgImage{
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: right center;
  min-height: 500px;
}
.FullBgImageT1{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 40px;
}
.FullBgImageT2{
  font-size: 18px;
  margin-bottom: 20px;
}
.FullBgImageT3{
  background-color: #C10600;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 25px;
  transition: 0.4s;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.FullBgImageT3:hover{
  background-color: #0A2F8B;
}

.footerbottom {
  background-color: #C10600;
  padding: 15px 0px;
  color: #fff;
}
.footerbottom a {
  color: #fff !important;
}
.FtT1{
  color: #C10600;
  font-weight: 600;
  font-size: 20px;
}
.SubscribeForm{
  max-width: 75%;
  margin: 25px 0px;
}
.SubscribeForm input{
  width: 100%;
  border: 1px solid #707070;
  border-radius: 50px;
  padding: 7px 10px;
  color: #707070;
  outline: none !important;
  box-shadow: none !important;
  font-size: 14px;
}

.SubscribeForm ::placeholder {
  color: #707070;
  opacity: 1;
  /* Firefox */
}

.SubscribeForm ::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #707070;
}
.SubscribeForm  button{
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  
  position: absolute;
  right: 4px;
  top: 3px;
  border: 1px solid #707070;
  background-color: #fff;
  cursor: pointer;
}

.SubscribeForm  button span{
  background-image: url(../images/arrow.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.FtT2{
  color: #3B3B3B;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.FtT3{
  color: #3B3B3B;
  font-size: 14px;
  line-height: 1.4;
}
.FooterLinks a{
  color: #707070;
  margin-bottom: 5px;
  display: inline-block;
}
.FooterLinks a:hover{
  color: #C10600;
}

.SocialMediaLinks a {
  display: inline-block;
  margin: 0 2px;
    margin-left: 2px;
}
.SocialMediaLinks a:first-child {
  margin-left: 0;
}
.SocialMediaIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
}
.SocialMediaIcon.tiktok {
  background-image: url(../images/tiktok1.png);
}
.SocialMediaIcon.instagram {
  background-image: url(../images/instagram1.png);
}
.SocialMediaIcon.facebook {
  background-image: url(../images/facebook.png);
}
.SocialMediaIcon.linkedin {
  background-image: url(../images/whatsapp.png);
}
.SocialMediaIcon.twitter {
  background-image: url(../images/email.png);
}

@media only screen and (max-width: 900px) {
 .m-none , .d-only ,
 .SlickWrap1 .slick-next,
 .SlickWrap1 .slick-prev{
  display: none !important;
 }
 .HeaderBoxLeft {
  flex: 0 0 90px;
  max-width: 90px;
}
.StickHeader .HeaderBoxLeft {
  flex: 0 0 90px;
  max-width: 90px;
}
.HrBannerContent{
  position: relative;
  top: auto;
  left: auto;
}
.T1 {
  font-size: 21px;
  line-height: 1.3;
}
.T2 {
    font-size: 14px;
    font-weight: 300;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 15px;
}
.HrBannerContent .HeroImage {
  max-width: 65%;
  margin-bottom: 15px;
}
.PopUpHeaderBoxLeft {
  flex: 0 0 70px;
  max-width: 70px;
}
.PopUpHeaderBoxMiddle {
  font-size: 18px;
}
.CloseButton {
  width: 20px;
  height: 20px;
}
.PopUp .container-fluid{
  padding: 0;
}
.PopUpFooterBox .col-md-9 {
  font-size: 18px;
}
.col-md-3.text-right{
  text-align: center !important;
}
.FtrLinkP {
  padding: 8px 18px;
  margin-top: 10px;
}
.T3 {
  padding: 8px 18px;
}
.pd-common {
  padding: 20px 0px;
}
.WinBanner {
  margin: 10px 0px;
}
.AboutContent .T2 {
  margin-bottom: 15px;
}
.HdSt1 {
  font-size: 27px;
}
.productBlocks {
  margin-top: 20px;
}
.productBlocks.row .col-md-3{
  flex: 0 0 50%;
  max-width: 50%;
}
.Wincollections .ProductBlockImage{
  height: 130px;
  object-fit: contain;
}
.collectionName {
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  display: block !important;
}
.DiscoverMoreBlock{
  display: none !important;
}
.CountingBlock.row{
  justify-content: center;
}
.CountingBlock.row .col-md-4{
  flex: 0 0 50%;
  max-width: 50%;
}
.CountNUmber {
  font-size: 35px;
}
.CountBox {
  margin-bottom: 15px;
}
.FtHdT1 {
  font-size: 27px;
  margin-bottom: 5px;
}
.FtHdT2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.productsWrap{
  margin: 0 -15px;
}
.BannerBox1 img {
  height: auto;
  object-fit: cover;
}
.BannerImage {
  width: 100%;
  border-radius: 0;
}
.BannerWrap {
 
  margin: 0 -15px;
  margin-top: 20px;
}
.SlickWrap1 .slick-dots{
  display: none !important;
}
.BannerBox4 {
  margin-top: 0;
}


.FullBgImage{
  position: relative;
  background-color: #0A2F8B;
  background-image: none;
  min-height: auto;
}
.FullBgImage .col-md-4{
  position: relative;
  color: #fff;
  z-index: 9;
}
.FullBgImageT1 {
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.FullBgImageT2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.FullBgImageT3 {
  padding: 8px 18px;
}
.FtT1{
  font-size: 18px;
}
.SubscribeForm {
  max-width: 100%;
  margin: 15px 0px;
}
.FooteLogo{
  display: none;
}
.FooterLinkBox .m-five{
flex: 0 0 50%;
max-width: 50%;
}
.FooterLinkBox .m-six{
 text-align: center;
 margin-top: 10px;
}
br{
  display: none;
}
.SocialMediaBoxWrap{
  text-align: center;
  margin-top: 10px;
}
.footerbottom *{
  text-align: center !important;
}
}